html, body{    
    margin: 0;
    align-items:center;
    height: 682px;
    width: 424px;
    
}

#game{
    width: 424px;
    height: 682px;
    background-image: url("backgroundlevel2.png");
    background-position-x: 0px;
    border: 1px;
    border-color: black;
    position: relative;
}

#character {
    width: 126.59px;
    position: fixed;
    bottom: 60%;
    left: 10%;
}

#top {
    position: fixed;
    width: 286.95px;
    top: 68.2px;
    right: -2%;
}

#bottom {
    width: 126.59px;
    bottom: 54.56px;
    height: 27%;
    position: fixed;
    right: -2%;
}

#top2 {
    position: fixed;
    width: 68%;
    top: 0%;
    right: -102%;
}

#bottom2 {
    width: 30%;
    bottom: 8%;
    height: 37%;
    position: fixed;
    right: -102%;
}

/* #game-canvas{
    width: 422px;
    height: 700px;
    border: 1px solid #000000;
    display: block;
}

#initial-menu{
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    background-image: url(PANTALLAINICIO.svg);
}

#btn1{    
    position:absolute;
    left: 389.45px;
    transform:translate(0%,-50%);
    -ms-transform:translate(-0%,-50%);
}

#btn2{
    position:absolute;
    left:0%;
    transform:translate(0%,-50%);
    -ms-transform:translate(0%,-50%);
}



.invisible{
    display: none;
}

.imagen{
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    margin: 0 auto;
}

.buton{
    font-family: 'Hammersmith One', sans-serif;
    font-size: 44px;
    top: 330px;
    color: white;
    text-align: center;
    border-radius: 8px;
    background:#99d6ff;
    padding: 5px;
    border: none;
} */