/* Labels */
html, body{
    background-color: #D0D2F7;
    margin: 0;
    padding:0;
    text-align:center;
    height: 100%;
    width: 100%;
}
/* Sections */
/* Identifiers */
#game-canvas{
    width: 422px;
    height: 700px;
    border: 1px solid #000000;
    display: block;
}

#initial-menu{
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    background-image: url(PANTALLAINICIO.svg);
}

#btn1{    
    position:absolute;
    left: 389.45px;
    transform:translate(0%,-50%);
    -ms-transform:translate(-0%,-50%);
}

#btn2{
    position:absolute;
    left:0%;
    transform:translate(0%,-50%);
    -ms-transform:translate(0%,-50%);
}

/* Class */

.invisible{
    display: none;
}

.imagen{
    background-position: center center;
    background-repeat: no-repeat;
    /* background-size: cover; */
    height: 100%;
    width: 100%;
    margin: 0 auto;
}

.buton{
    font-family: 'Hammersmith One', sans-serif;
    font-size: 44px;
    top: 330px;
    color: white;
    text-align: center;
    border-radius: 8px;
    background:#99d6ff;
    padding: 5px;
    border: none;
}